<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labexam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:windowSoftInputMode="adjustResize"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LABExam">
        <activity android:name=".List1"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".List2"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".List3"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".List4"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".List5"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Lance"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Karl"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Jay"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Charles"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Ceejay"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>